/files/input/VOiCES_devkit/
/files/datasets/test/
/files/datasets/foreground_sound/
/files/datasets/background_sound/
/files/output/svm_model.pkl

/files/output/mlp_model.pkl
/testing/
/files/output/features.npz
/files/output/rnn_model.keras
