/auxiliary2024/input/VOiCES_devkit/
/auxiliary2024/datasets/test/
/auxiliary2024/datasets/foreground_sound/
/auxiliary2024/datasets/background_sound/
/auxiliary2024/output/classifiers/svm_model.pkl

/auxiliary2024/output/classifiers/mlp_model.pkl
/testing/
/auxiliary2024/output/features.npz
/auxiliary2024/output/classifiers/rnn_model.keras
/auxiliary2024/output/classifiers/ls_model.pkl
/auxiliary2024/output/results/Least_Squares.txt
/auxiliary2024/output/results/MLP.txt
/auxiliary2024/output/results/RNN.txt
/auxiliary2024/output/results/SVM.txt
